[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=ede-screen-lock
Icon=system-lock-screen
StartupNotify=false
Categories=X-EDE;X-EDE-Toplevel;
Name=Screen Lock
Comment=Lock user screen
