[Desktop Entry]
Encoding=UTF-8
Name=FreeCell
Name[be]=Вольная ячэя
Name[bg]=Свободна Клетка
Name[bn]=ফ্রীসেল
Name[ca]=FreeCell
Name[cs]=FreeCell
Name[da]=Napoleon
Name[de]=FreeCell
Name[el]=FreeCell
Name[es]=FreeCell
Name[et]=Freecell
Name[fi]=Vapaakenttä
Name[fr]=Freecell
Name[ga]=FreeCell
Name[gl]=FreeCell
Name[he]=פריסל
Name[hu]=FreeCell
Name[it]=FreeCell
Name[ja]=フリーセル
Name[ko]=프리셀
Name[lt]=FreeCell
Name[lv]=FreeCell
Name[mn]=Фриселл
Name[ms]=FreeCell
Name[nl]=FreeCell
Name[no]=Freecell
Name[pl]=FreeCell
Name[pt]=Freecell
Name[pt_BR]=FreeCell
Name[ru]=Фриселл
Name[sk]=FreeCell
Name[sl]=FreeCell
Name[sv]=Napoleon på S:t Helena
Name[tr]=İskambil falı
Name[uk]=Вільна комірка
Name[vi]=FreeCell
Name[wa]=Freecell
Name[zh_CN]=空当接龙
Name[zh_TW]=Freecell
Comment=FreeCell game
Comment[be]=Гульня ў Вольную ячэю
Comment[bg]=игра Свободна Клетка
Comment[bn]=ফ্রীসেল খেলা
Comment[ca]=Joc del FreeCell
Comment[cs]=Hra FreeCell
Comment[da]=Kortspillet Napoleon
Comment[de]=FreeCell-Spiel
Comment[el]=Το παιχνίδι FreeCell
Comment[es]=Juego FreeCell
Comment[et]=Kaardimäng FreeCell
Comment[fi]=Vapaakenttä-peli
Comment[fr]=Jeu de cartes Freecell
Comment[he]=משחק פריסל
Comment[hu]=FreeCell játék
Comment[it]=FreeCell
Comment[ja]=フリーセルの GNOME 版
Comment[lv]=FreeCell spēle
Comment[mn]=GNOME Фриселл тоглоом
Comment[ms]=Permainan FreeCell
Comment[nl]=FreeCell Spel
Comment[no]=Spillet FreeCell
Comment[pl]=Gra FreeCell
Comment[pt]=Jogo FreeCell
Comment[pt_BR]=Jogo de FreeCell
Comment[ru]=Пасьянс "Ячейка"
Comment[sk]=Hra FreeCell
Comment[sl]=Igra Freecell
Comment[sv]=Spelet Napoleon på S:t Helena
Comment[tr]=İskambil falı oyunu
Comment[uk]=Гра "Вільна комірка"
Comment[vi]=Trò chơi FreeCell
Comment[zh_TW]=Freecell 紙牌接龍遊戲
Exec=freecell
Icon=gnome-cardgame.png
Terminal=false
Type=Application
Categories=GNOME;Application;Game;CardGame;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-games
X-GNOME-Bugzilla-Component=freecell
StartupNotify=true
