[Desktop Entry]
Encoding=UTF-8
Icon=gataxx.png
Name=Gataxx
Name[am]=Gataxx
Name[be]=Gataxx
Name[bg]=Гатаксс
Name[bn]=জীঅ্যাটাক্স
Name[ca]=Gataxx
Name[cs]=Gataxx
Name[da]=Ataxx
Name[de]=Gataxx
Name[el]=Gataxx
Name[es]=Gataxx
Name[et]=Gataxx
Name[fi]=Gataxx
Name[fr]=Gataxx
Name[he]=Gataxx
Name[hu]=Gataxx
Name[it]=Gataxx
Name[ja]=Gataxx
Name[ko]=Gataxx
Name[lv]=Gataxx
Name[mn]=Gataxx
Name[ms]=Gataxx
Name[nl]=Gataxx
Name[no]=Gataxx
Name[pl]=Gataxx
Name[pt]=Gataxx
Name[pt_BR]=Gataxx
Name[ru]=Gataxx
Name[sk]=Gataxx
Name[sl]=Gataxx
Name[sv]=Gataxx
Name[tr]=Gataxx
Name[uk]=Атаки
Name[vi]=Gataxx
Name[wa]=Gataxx
Name[zh_CN]=Gataxx
Name[zh_TW]=Gataxx
Comment=Ataxx game
Comment[be]=Гульня Ataxx
Comment[bg]=Игра атаксс
Comment[bn]=অ্যাটাক্স খেলা
Comment[ca]=Joc del Ataxx
Comment[cs]=Hra Ataxx
Comment[da]=Spillet Ataxx
Comment[de]=Ataxx-Spiel
Comment[el]=Παιχνίδι Ataxx 
Comment[es]=Un juego tipo Ataxx.
Comment[et]=Mäng nimega ataxx
Comment[fi]=Ataxx-peli
Comment[fr]=Jeu Ataxx
Comment[he]=משחק Ataxx
Comment[hu]=Ataxx játék
Comment[it]=Gioco Ataxx
Comment[ja]=Ataxx ゲーム
Comment[lv]=Ataxx spēle
Comment[mn]=Ataxx тоглоом.
Comment[ms]=Permainan Ataxx
Comment[nl]=Ataxx
Comment[no]=Ataxx-spill
Comment[pl]=Gra Ataxx
Comment[pt]=Jogo Ataxx
Comment[pt_BR]=Jogo Ataxx
Comment[ru]=Игра ataxx
Comment[sk]=Hra Ataxx
Comment[sl]=Igra Ataxx
Comment[sv]=Spelet Ataxx
Comment[tr]=Ataxx oyunu
Comment[uk]=Гра "Атаки"
Comment[vi]=Trò chơi Ataxx.
Comment[zh_TW]=Ataxx 遊戲
Exec=gataxx
Terminal=false
Type=Application
Categories=GNOME;Application;Game;BoardGame;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-games
X-GNOME-Bugzilla-Component=gataxx
StartupNotify=true
