[Desktop Entry]
Encoding=UTF-8
Name=Glines
Name[be]=Glines
Name[bg]=ГЛинии
Name[bn]=জীলাইন্‌স
Name[ca]=Glines
Name[cs]=Glines
Name[da]=Linjer
Name[de]=Glines
Name[el]=Glines
Name[es]=Glines
Name[et]=Glines
Name[eu]=Glines
Name[fi]=Glines
Name[fr]=Glines
Name[he]=Glines
Name[hu]=Glines
Name[it]=Glines
Name[ja]=Glines
Name[ko]=Glines
Name[lt]=Glines
Name[lv]=Glines
Name[mn]=Glines
Name[ms]=Glines
Name[nl]=GLines
Name[no]=Glines
Name[pl]=Glines
Name[pt]=GLinhas
Name[pt_BR]=Glines
Name[ro]=Glines
Name[ru]=Glines
Name[sk]=GČiary
Name[sl]=Glines
Name[sv]=Glinjer
Name[tr]=Sıradaki toplar
Name[uk]=Ряди
Name[vi]=Glines
Name[wa]=GRoyes
Name[zh_CN]=Glines
Name[zh_TW]=Glines
Comment=Color lines game
Comment[be]=Гульня "Каляровыя лініі"
Comment[bg]=Игра Цветни линии
Comment[bn]=কালার লাইন্‌স খেলা
Comment[ca]=Joc de línies de color
Comment[cs]=Hra Barevné linie
Comment[da]=Farvede linjer-spil
Comment[de]=Farblinienspiel
Comment[el]=Παιχνίδι γραμμών χρώματος
Comment[es]=Juego del tipo líneas de colores.
Comment[fi]=Väriviivapeli
Comment[fr]=Jeu de lignes colorées
Comment[he]=משחק שורות צבעוניות
Comment[hu]=Color lines játék
Comment[it]=Gioco Color Lines
Comment[ja]=カラーラインのゲーム
Comment[lv]=Krāsu līniju spēle
Comment[mn]=Өнгөт бөмбөлөг тоглоом
Comment[ms]=Permainan garisan warna
Comment[nl]=Kleurlijnen
Comment[no]=Spill med fargelinjer
Comment[pl]=Gra w kolorowe linie
Comment[pt]=Jogo das linhas coloridas
Comment[pt_BR]=Jogo de linhas coloridas
Comment[ru]=Игра "Цветные линии"
Comment[sk]=Hra Farebné čiary
Comment[sl]=Igra barvnih črt
Comment[sv]=Färglinjespel
Comment[tr]=Color lines oyunu
Comment[uk]=Гра "Кольорові ряди"
Comment[vi]=Trò chơi ColorLines
Comment[zh_TW]=Color lines 遊戲
Exec=glines
Icon=glines.png
Terminal=false
Type=Application
Categories=GNOME;Application;Game;PuzzleGame;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-games
X-GNOME-Bugzilla-Component=glines
StartupNotify=true
NoDisplay=true
