[Desktop Entry]
Encoding=UTF-8
GenericName=Advanced Text Editor
GenericName[cy]=Golygydd Testun Uwch 
GenericName[da]= Avanceret teksteditor
GenericName[el]=Προχωρημένος διορθωτής κειμένου
GenericName[es]=Editor de texto avanzado
GenericName[fa]=ویرایشگر متن پیشرفته
GenericName[hu]=szövegszerkesztő
GenericName[pt_BR]=Editor de Texto Avançado
GenericName[sr]=Napredni editor teksta
GenericName[sv]=Avancerad texteditor
BinaryPattern=
Name=Kate
Name[ar]=كيت
Name[bg]=Редактор Kate
Name[eo]=Kodredaktilo
Name[fa]=کِیت
Name[ko]=카테
Name[ru]=Редактор Kate
MimeType=text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;text/rdf;
Exec=kate %u
TerminalOptions=
Icon=kate
Path=
DocPath=kate/index.html
Type=Application
Terminal=0
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;TextEditor
