[Desktop Entry]
Encoding=UTF-8
Name=KBabel
Name[af]=Kbabel
Name[ar]=المترجم
Name[eo]=Babelo-tradukilo
Name[ko]=K바벨
Name[pt_BR]=Editor de POTFiles
Name[sv]=Kbabel
Name[xx]=xxKBabelxx
Exec=kbabel %i %m -caption "%c" %U
Icon=kbabel
MiniIcon=kbabel
Type=Application
DocPath=kbabel/index.html
MimeType=application/x-gettext;
GenericName=Translation Tool
GenericName[af]=Vertaling Program
GenericName[ar]=أداة الترجمة
GenericName[bg]=Инструменти за Превод
GenericName[bs]=Alat za prevođenje
GenericName[ca]=Eina de traducció
GenericName[cs]=Překladatelský nástroj
GenericName[cy]=Erfyn Cyfieithu
GenericName[da]=Oversættelsesværktøj
GenericName[de]=Übersetzungsprogramm
GenericName[el]=Εργαλείο μετάφρασης
GenericName[eo]=Tradukilo por Qt-programoj
GenericName[es]=Herramienta de traducción
GenericName[et]=Tõlkimise rakendus
GenericName[eu]=Itzulpenerako Tresnak
GenericName[fi]=Käännöstyökalu
GenericName[fo]=Umsetingaramboð
GenericName[fr]=Outil de traduction
GenericName[he]=כלי תרגום
GenericName[hr]=Uslužni program za prevođenje
GenericName[hu]=segédprogram fordítóknak
GenericName[it]=Strumento per le traduzioni
GenericName[ja]=翻訳ツール
GenericName[lt]=Vertimo įrankis
GenericName[lv]=Tulkošanas Rīks
GenericName[mt]=Għodda tat-traduzzjoni
GenericName[nb]=Oversettingsverktøy
GenericName[nl]=vertaalprogramma
GenericName[nn]=Omsetjingsverktøy
GenericName[nso]=Sebereka sa Thlathollo
GenericName[pl]=Narzędzie dla tłumaczy
GenericName[pt]=Ferramenta de Tradução
GenericName[pt_BR]=Ferramenta de Tradução
GenericName[ro]=Utilitar de traducere
GenericName[ru]=Утилита локализации приложений
GenericName[sk]=Prekladací nástroj
GenericName[sl]=Orodje za prevajanje
GenericName[sv]=Översättningsverktyg
GenericName[ta]=¦Á¡Æ¢¦ÀÂ÷ôÒì ¸ÕÅ¢
GenericName[th]=เครื่องมือแปลภาษา
GenericName[tr]=Çeviri Aracı
GenericName[uk]=Засіб для перекладів
GenericName[ven]=Zwishumiswa zwau Dologa
GenericName[vi]=Công cụ dịch 
GenericName[xh]=Isixhobo Soguqulelo lomsebenzi kolunye ulwimi
GenericName[xx]=xxTranslation Toolxx
GenericName[zh_CN]=翻译工具
GenericName[zh_TW]=翻譯工具
GenericName[zu]=Ithuluzi Lokuguqulela
Terminal=0
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Unique
Categories=Qt;KDE;Development
