[Desktop Entry]
Encoding=UTF-8
BinaryPattern=kedit;
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
GenericName=Simple Text Editor
GenericName[ca]=Editor de text
GenericName[cs]=Jednoduchý textový editor
GenericName[da]=Simpel teksteditor
GenericName[es]=Editor de texto sencillo
GenericName[fr]=Éditeur de texte élémentaire
GenericName[pt_BR]=Editor de Texto Simples
GenericName[sv]=Enkel texteditor
GenericName[wa]=Simpe aspougneu di tecse
Exec=kedit  -caption "%c" %i %m %u
Icon=kedit
TerminalOptions=
Path=
DocPath=kedit/index.html
Type=Application
Terminal=0
Name=KEdit
Name[af]=Kredigeer
Name[eo]=Redaktilo
Name[hr]=Uređivač
Name[lv]=KRediģēt
Name[pl]=Edytor
Name[sv]=Kedit
Name[th]=แก้ไขข้อความ
Name[ven]=U sengulusa ha K
Name[xh]=Abahleli Be K
Name[zh_TW]=KDE 編輯器
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
