[Desktop Entry]
Encoding=UTF-8
Name=Mahjongg
Name[am]=ማህጆንግ
Name[be]=Маджонг
Name[bg]=Махджонг
Name[bn]=মাহজং
Name[ca]=Mahjongg
Name[cs]=Mahjongg
Name[da]=Mahjongg
Name[de]=Mahjongg
Name[el]=Mahjongg
Name[es]=Mahjongg
Name[et]=Mahjongg
Name[fa]=ماهجونگ
Name[fi]=Mahjongg
Name[fr]=Mahjongg
Name[gl]=Mahjongg
Name[he]=Mahjongg
Name[hu]=Mahjongg
Name[it]=Mahjongg
Name[ja]=GNOME 上海
Name[ko]=그놈 마작
Name[lt]=Mahjongg
Name[lv]=Mahjongg
Name[mn]=Маджонг
Name[ms]=Mahjongg
Name[nl]=Mahjongg
Name[no]=Mahjongg
Name[pl]=Mahjongg
Name[pt]=Mahjongg
Name[pt_BR]=Mahjongg
Name[ru]=Маджонг
Name[sk]=Mahjongg
Name[sl]=Mahjongg
Name[sv]=Mah Jong
Name[tr]=Mahjongg
Name[uk]=Магджонґ
Name[vi]=Mahjongg
Name[wa]=Mahjongg
Name[zh_CN]=堆麻将
Name[zh_TW]=上海麻將
Comment=Mahjongg game
Comment[am]=የማህጆንግ ጨዋታ
Comment[be]=Гульня Маджонг
Comment[bg]=Игра на Махджонг
Comment[bn]=মাহজং খেলা
Comment[ca]=Joc del Mahjongg
Comment[cs]=Hra Mahjongg
Comment[da]=Mahjonggspil
Comment[de]=Mahjongg-Spiel
Comment[el]=Παιχνίδι Mahjongg
Comment[es]=Juego Mahjongg
Comment[et]=Mäng nimega mahjongg
Comment[fa]=بازی ماهجونگ
Comment[fi]=Mahjongg-peli
Comment[fr]=Jeu de Mahjongg
Comment[he]=משחק Mahjongg
Comment[hu]=Mahjongg játék
Comment[it]=Gioco Mahjongg
Comment[ja]=麻雀ゲーム
Comment[lv]=Mahjongg spēle
Comment[mn]=Mahjongg тоглоом
Comment[ms]=Permainan Mahjongg
Comment[nl]=Mahjongg
Comment[no]=Mahjongg-spill
Comment[pl]=Gra Mahjongg
Comment[pt]=Jogo Mahjongg
Comment[pt_BR]=Jogo Mahjongg
Comment[ru]=Игра Маджонг
Comment[sk]=Hra Mahjongg
Comment[sl]=Igra Mahjongg
Comment[sv]=Mah Jong-spel
Comment[tr]=Mahjongg oyunu
Comment[uk]=Гра "Магджонґ"
Comment[vi]=Trò chơi Mahjongg
Comment[zh_TW]=上海麻將遊戲
Exec=mahjongg
Icon=gnome-mahjongg.png
Terminal=false
Type=Application
Categories=GNOME;Application;Development;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-games
X-GNOME-Bugzilla-Component=mahjongg
StartupNotify=true
