[Desktop Entry]
Encoding=UTF-8
Name=menu-spec-testing
Exec=true
Icon=quanta
Type=Application
MimeType=text/html
Comment=menu-spec testing
Categories=${CATEGORY};
