# EFLTK Configuration - Version 2,003000

[Desktop Entry]
  Name=Simple Calculator
  Name[sl]=Enostavni kalkulator
  Name[pt_BR]=Calculadora Simples
  Name[ca]=Calculadora
  Name[cs]=Kalkulačka
  Name[da]=Lommeregner
  Name[de]=Taschenrechner
  Name[el]=ŐđďëďăéóôŢň ôóÝđçň
  Name[es]=Calculadora
  Name[et]=Taskuarvuti
  Name[fi]=Laskin
  Name[fr]=Calculatrice
  Name[gl]=Calculadora
  Name[ja]=´Ę°×ĹĹÂî
  Name[ko]=°čťęąâ
  Name[lt]=Skaičiuotuvas
  Name[hr]=Kalkulator
  Name[hu]=Számológép
  Name[it]=Calcolatrice
  Name[lt]=Skaičiuotuvas
  Name[nl]=Rekenmachine
  Name[no]=Kalkulator
  Name[pl]=Kalkulator
  Name[pt]=Calculadora
  Name[ru]=ëÁĚŘËŐĚŃÔĎŇ
  Name[sk]=Kalkulačka
  Name[sv]=Miniräknare
  Name[tr]=Hesap makinasý
  Name[uk]=ëÁĚŘËŐĚŃÔĎŇ
  Name[wa]=Carculete
  Exec=ecalc
  Icon=lime.png

