# EFLTK Configuration - Version 2,003000

[Desktop Entry]
  Name=eFLUID - GUI Designer
  Name[sk]=eFLUID - GIU Dizajnér
  Exec=efluid
  Icon=binary.png

