# EFLTK Configuration - Version 2,003000

[Desktop Entry]
  Name=Color XTerm
  Name[sl]=Bravni XTerm
  Name[bg]=Öâĺňĺí XŇĺđěčíŕë
  Name[ca]=Xterm en color
  Name[cs]=Barevný terminálový emulátor
  Name[da]=Farve xterm
  Name[de]=Farbiges XTerm
  Name[el]=¸ă÷ńůěď XTerm
  Name[en_GB]=Colour XTerm
  Name[es]=XTerm a color
  Name[et]=Värviline XTerm
  Name[eu]=XTerm koloretan
  Name[fi]=Värillinen XTerm
  Name[fr]=XTerm Couleur
  Name[fr]=XTerm couleur
  Name[ga]=Xterm daite
  Name[gl]=Xterm a cores
  Name[hu]=Színes X-terminál
  Name[it]=XTerm a colori
  Name[ja]=ĽŤĽéĄź xterm
  Name[ko]=ÄŽśó ż˘˝şĹŇ
  Name[nl]=Kleuren XTerm
  Name[no]=Farge X-terminal
  Name[pl]=Kolorowy XTerm
  Name[pt]=XTerm a cores
  Name[pt_BR]=XTerm a cores
  Name[ro]=Terminal X color
  Name[ru]=ă×ĹÔÎĎĘ XTerm
  Name[sk]=Farebný XTerm
  Name[sv]=XTerm, färg
  Name[tr]=XTerm komutasý
  Name[uk]=ëĎĚŘĎŇĎ×ÉĘ XTerm
  Name[wa]=Xterm č coleur
  Name[zh_CN.GB2312]=˛ĘÉŤ X ÖŐśËťú
  Name[zh_TW.Big5]=ąmŚâ X ˛×şÝž÷
  Comment=Color XTerm
  Comment[sl]=Barvni XTerm
  Comment[bg]=Öâĺňĺí ňĺđěčíŕëĺí ĺěóëŕňîđ
  Comment[ca]=Emulador de terminal XTerm en color
  Comment[cs]=Terminálový emulátor schopný zobrazení barev
  Comment[da]=X-terminal i farver
  Comment[de]=Farbiges XTerm
  Comment[el]=¸ă÷ńůěç đńďóďěďßůóç ôĺńěáôéęďý XTerm
  Comment[en_GB]=Colour XTerm
  Comment[es]=XTerm a color
  Comment[et]=Värviline XTerm
  Comment[eu]=XTerm koloretan
  Comment[fi]=Värillinen XTerm
  Comment[fr]=Émulateur de terminal XTerm couleur
  Comment[ga]=XTerm daite
  Comment[gl]=Xterm a cores
  Comment[hu]=Színes X-terminál
  Comment[it]=XTerm a colori
  Comment[ja]=ĽŤĽéĄźČÇ xterm
  Comment[ko]=ÄŽśó ż˘˝şĹŇ
  Comment[nl]=Kleuren XTerm
  Comment[no]=Xterm i farger
  Comment[pl]=Kolorowy emulator terminala
  Comment[pt]=XTerm a cores(nxterm)
  Comment[pt_BR]=XTerm a cores(nxterm)
  Comment[ro]=Terminal X color
  Comment[ru]=ă×ĹÔÎĎĘ XTerm
  Comment[sk]=Farebný XTerm
  Comment[sv]=X-terminal i färg
  Comment[tr]=Xterm komutasý
  Comment[uk]=ëĎĚŘĎŇĎ×ÉĘ ĹÍŐĚŃÔĎŇ ÔĹŇÍŚÎÁĚŐ
  Comment[wa]=Terminĺ xterm avou des coleurs
  Comment[zh_CN.GB2312]=˛ĘÉŤ X ÖŐśËťú
  Comment[zh_TW.Big5]=ąmŚâ X ˛×şÝž÷
  TryExec=nxterm
  Exec=nxterm
  Icon=konsole.png
  Terminal=0
  Type=Application

