# EFLTK Configuration - Version 2,003000

[Desktop Entry]
  Name=xBill
  Name[pt_BR]=xBill
  Name[da]=xBill
  Name[de]=xBill
  Name[el]=Bill
  Name[et]=Bill
  Name[fi]=xBill
  Name[fr]=xBill
  Name[gl]=xBill
  Name[ja]=XĽÓĽë
  Name[lt]=xBill
  Name[no]=xBill
  Name[sk]=xBill
  Name[sv]=xBill
  Icon=misc.png
  Exec=exbill
  Terminal=0
  Type=Application

