# EFLTK Configuration - Version 2,003000

[Desktop Entry]
  Name=Colors and fonts settings
  Exec=ecolorconf
  Icon=colorset.png
  Name[sk]=Nastavenie farieb a fontov

