# EFLTK Configuration - Version 2,003000

[Desktop Entry]
  Name=Hardware center
  Exec=ehardcenter
  Icon=linuxconf.png
  Name[sk]=Hardvérové centrum

