# EFLTK Configuration - Version 2,003000

[Desktop Entry]
  Name=Panel settings
  Exec=epanelconf
  Icon=package_application.png
  Name[sk]=Možnosti panela

