# EFLTK Configuration - Version 2,003000

[Desktop Entry]
  Name=Eterm
  Name[sl]=Eterm
  Name[bg]=Eterm
  Name[ca]=Eterm
  Name[cs]=Eterm
  Name[da]=Eterm
  Name[de]=Eterm
  Name[el]=Eterm
  Name[es]=Eterm
  Name[eu]=Eterm
  Name[fi]=Eterm
  Name[fr]=Eterm
  Name[ga]=Eterm
  Name[gl]=Eterm
  Name[it]=Eterm
  Name[ja]=Eterm
  Name[ko]=Eterm
  Name[nl]=Eterm
  Name[no]=Eterm
  Name[pl]=Eterm
  Name[pl]=Eterm
  Name[pt]=Eterm
  Name[pt_BR]=Eterm
  Name[ro]=Eterm
  Name[ru]=Eterm ÔĹŇÍÉÎÁĚ
  Name[sk]=Eterm
  Name[sv]=Eterm
  Name[tr]=Eterm
  Name[uk]=Eterm
  Name[wa]=Eterm
  Name[zh_CN.GB2312]=Eterm
  Name[zh_TW.Big5]=Eterm
  Comment=Eterm
  Comment[sl]=Terminal Eterm
  Comment[bg]=Eterm Ňĺđěčíŕë
  Comment[ca]=Emulador de terminal Eterm
  Comment[cs]=Terminálový emulátor Eterm
  Comment[da]=Eterm terminalemulering
  Comment[de]=Terminalemulator: Eterm
  Comment[el]=ĐńďóďěďéůôŢň Ôĺńěáôéęďý Eterm
  Comment[es]=Terminal Eterm
  Comment[et]=Terminal Eterm
  Comment[eu]=Eterm terminala
  Comment[fi]=Eterm pääte-emulaattori
  Comment[fr]=Émulateur de terminal Eterm
  Comment[ga]=Aithriseoir teirminéal Eterm
  Comment[gl]=Emulador de terminal Eterm
  Comment[it]=Programma di emulazione di terminale
  Comment[ja]=EtermĽżĄźĽßĽĘĽë
  Comment[ko]=Eterm ĹÍšĚłÎ
  Comment[nl]=Eterm terminal emulator
  Comment[no]=Eterm terminalemulator
  Comment[pl]=Emulator terminala Eterm
  Comment[pt]=Terminal Eterm
  Comment[pt_BR]=Eterm
  Comment[ro]=Emulatorul de terminal Eterm
  Comment[ru]=üÍŐĚŃÔĎŇ ÔĹŇÍÉÎÁĚÁ Eterm
  Comment[sk]=Eterm
  Comment[sv]=Eterm terminalemulator
  Comment[tr]=Eterm komutasý
  Comment[uk]=ĺÍŐĚŃÔĎŇ ÔĹŇÍŚÎÁĚŐ
  Comment[wa]=Purnea di terminĺ Eterm
  Comment[zh_CN.GB2312]=Eterm ÖŐśËťú
  Comment[zh_TW.Big5]=Eterm ˛×şÝž÷
  TryExec=Eterm
  Exec=Eterm
  Icon=konsole.png
  Terminal=0
  Type=Application

