# EFLTK Configuration - Version 2,003000

[Desktop Entry]
  Name=The GIMP
  Name[sl]=GIMP
  Name[bg]=GIMP
  Name[br]=GIMP
  Name[ca]=El GIMP
  Name[cs]=GIMP
  Name[da]=GIMP'en
  Name[de]=GIMP
  Name[el]=Ôď GIMP
  Name[es]=El GIMP
  Name[et]=GIMP
  Name[eu]=GIMPa
  Name[fi]=GIMP
  Name[fr]=Le GIMP
  Name[ga]=An GIMP
  Name[ga]=An GIMP
  Name[gl]=O GIMP
  Name[hr]=GIMP
  Name[hu]=A GIMP
  Name[id]=GIMP
  Name[is]=GIMP
  Name[it]=GIMP
  Name[ja]=GIMP
  Name[ko]=ąčÇÁ
  Name[lt]=GIMP
  Name[nl]=GIMP
  Name[no]=GIMP
  Name[pl]=GIMP
  Name[pt]=O GIMP
  Name[pt_BR]=O GIMP
  Name[ro]=GIMP
  Name[ru]=GIMP
  Name[sk]=GIMP
  Name[sk]=GIMP
  Name[sv]=GIMP
  Name[tr]=GIMP
  Name[uk]=GIMP
  Name[zh_CN.GB2312]=GIMP
  Name[zh_TW.Big5]=GIMP
  Comment=GNU Image Manipulation Program
  Comment[sl]=Program za manipuliranje s slikami GNU
  Comment[bg]=Ďđîăđŕěŕ çŕ Îáđŕáîňęŕ íŕ Čçîáđŕćĺíč˙ / GNU
  Comment[br]=Goulev GNU Dazverad Skeudennoů
  Comment[ca]=El programa de manipulació d'imatges GNU
  Comment[cs]=Program pro úpravu obrázků
  Comment[da]=Tegne- og billedbehandlingprogram
  Comment[de]=Das GNU-Bildbearbeitungsprogramm
  Comment[el]=Đńüăńáěěá Ĺđĺîĺńăáóßáň Ĺéęüíůí GNU
  Comment[es]=Programa de manipulación de imágenes GNU
  Comment[et]=GNU pilditöötlusprogramm
  Comment[eu]=GNU imaginak eraldatzeko programa
  Comment[fi]=GIMP-kuvankäsittelyohjelma
  Comment[fr]=Le Programme de Manipulation d'Images GNU
  Comment[ga]=Ríomhchlár láimhsiú íomhá GNU
  Comment[ga]=Ríomhchlar láimhsiú Pictuirí GNC
  Comment[gl]=O Programa de Edición de Imaxes de GNU
  Comment[hr]=Program za obradu forografija pod GNU licencom
  Comment[hu]=GNU képfeldolgozó program
  Comment[id]=GNU Image Manipulation Program
  Comment[is]=GNU Myndvinnsluforrit
  Comment[it]=Programma di Manipolazione Immagini GNU
  Comment[ja]=GNU˛čÁüĘÔ˝¸Ľ×ĽíĽ°ĽéĽŕ
  Comment[ko]=GNU ą×¸˛ ĆíÁý ÇÁˇÎą×ˇĽ
  Comment[lt]=GNU atvaizdř apdorojimo programa
  Comment[nl]=GNU beeldverwerkingsprogramma
  Comment[no]=GNU bildebehandlingsprogram
  Comment[pl]=Zaawansowany program graficzny
  Comment[pt]=Programa de Ediçăo de Imagens GNU
  Comment[pt_BR]=Programa de Ediçăo de Imagens GNU
  Comment[ro]=Program GNU pentru manipulare de imagine
  Comment[ru]=đŇĎÇŇÁÍÍÁ ÍÁÎÉĐŐĚŃĂÉÉ ÉÚĎÂŇÁÖĹÎÉŃ GNU
  Comment[sk]=GNU Program pre spracovanie obrázkov
  Comment[sv]=GNU Image Manipulation Program
  Comment[tr]=GNU Resim deđiţtirme uygulamasý
  Comment[uk]=đŇĎÇŇÁÍÁ GNU ÍÁÎŚĐŐĚŃĂŚ§ ÚĎÂŇÁÖĹÎÎŃÍ
  Comment[wa]=Li programe da GNU po-z aspougnî des imĺdjes
  Comment[zh_CN.GB2312]=GNU Ó°Ďó´ŚŔíłĚĘ˝
  Comment[zh_TW.Big5]=GNU źvšłłB˛zľ{ŚĄ
  TryExec=gimp
  Exec=gimp
  Icon=gimp2.png
  Terminal=0
  Type=Application

