# EFLTK Configuration - Version 2,003000

[Desktop Entry]
  Name=Regular XTerm
  Name[sl]=Običajni XTerm
  Name[bg]=XŇĺđěčíŕë
  Name[ca]=XTerm normal
  Name[cs]=XTerm
  Name[da]=Almindelig xterm
  Name[de]=Normales XTerm
  Name[el]=Ôőđéęü XTerm
  Name[es]=XTerm normal
  Name[et]=Tavaline XTerm
  Name[eu]=XTerm arrunta
  Name[fi]=Tavallinen XTerm
  Name[fr]=XTerm Normal
  Name[fr]=XTerm normal
  Name[ga]=XTerm Gnáth
  Name[gl]=XTerm normal
  Name[hu]=Alap x-terminál
  Name[it]=XTerm Normale
  Name[ja]=xterm
  Name[ko]=ş¸Ĺë ż˘˝şĹŇ
  Name[nl]=Normale XTerm
  Name[no]=Vanlig X-terminal
  Name[pl]=Zwykły XTerm
  Name[pt]=XTerm Normal
  Name[pt_BR]=XTerm Normal
  Name[ro]=Terminal X obişnuit
  Name[ru]=ďÂŮŢÎŮĘ XTerm
  Name[sk]=Štandardný XTerm
  Name[sv]=Xterm, normal
  Name[tr]=Vasat XTerm
  Name[uk]=ú×ÉŢÁĘÎÉĘ Xterm
  Name[wa]=Xterm normĺ
  Name[zh_CN.GB2312]=X ÖŐśËťú
  Name[zh_TW.Big5]=X ˛×şÝž÷
  Comment=Regular XTerm
  Comment[sl]=Običajni XTerm
  Comment[bg]=Îáčęíîâĺí XŇĺđěčíŕë
  Comment[ca]=Emulador de terminal XTerm normal
  Comment[cs]=Standardní terminálový emulátor pro X Window
  Comment[da]=Den gode gamle X-terminal
  Comment[de]=Normales X-Terminal
  Comment[el]=ÔőđéęŢ đńďóďěďßůóç ôĺńěáôéęďý XTerm
  Comment[es]=XTerm normal
  Comment[et]=Tavaline XTerm
  Comment[eu]=XTerm arrunta
  Comment[fi]=Tavallinen XTerm
  Comment[fr]=Émulateur de terminal XTerm
  Comment[fr]=XTerm normal
  Comment[ga]=XTerm Gnáth
  Comment[gl]=XTerm normal
  Comment[hu]=Alapértelmezett X-terminál
  Comment[it]=XTerm Normale
  Comment[ja]=ÄĚžďČÇ xterm
  Comment[ko]=ş¸Ĺë ż˘˝şĹŇ
  Comment[nl]=Normale XTerm
  Comment[no]=Vanlig X-terminal
  Comment[pl]=Emulator terminala (XTerm)
  Comment[pt]=XTerm Regular
  Comment[pt_BR]=XTerm Normal
  Comment[ro]=Terminal X obişnuit
  Comment[ru]=ďÂŮŢÎŮĘ XTerm
  Comment[sk]=Štandardný XTerm
  Comment[sv]=Vanlig X-terminal
  Comment[tr]=Vasat XTerm komutasý
  Comment[uk]=ú×ÉŢÁĘÎÉĘ XTerm
  Comment[wa]=Terminĺ xterm normĺ
  Comment[zh_CN.GB2312]=X ÖŐśËťú
  Comment[zh_TW.Big5]=X ˛×şÝž÷
  TryExec=xterm
  Exec=xterm
  Icon=konsole.png
  Terminal=0
  Type=Application

